# Compiled code
*.o
*.pyc

# Compiled kernel module and accompanying files
*.mod.c
*.mod.o
*.symvers
*.order
*.ko

# Temporary files
*~

# Hidden files
.*

# Log files
*.log

# Documentation and materials
/documents
